// Colors

$light: #fff;
$primary: #ed4c5c;
$secondary: #000;
$borderColor: #333;
$placeholderColor: #132743;
$gray: #fafafa;

// Font weights

$bold: 700;
$semibold: 600;
$regular: 400;

// Font sizes

$titleSize: 36px;
$subtitleSize: 18px;
$textSize: 14px;
$regularText: 16px;

// Border sizes

$lgborder: 15px;
$mdborder: 8px;
$smborder: 6px;
